name: publish

on:
  # For manual release only (GitHub actions do not trigger other GitHub actions to avoid infinite loops)
  release:
    types:
      - published
  # After release workflow completed
  workflow_run:
    workflows:
      - release
    branches:
      - master
    types:
      - completed

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - name: Install poetry
        run: pip install poetry
      - name: Build and publish
        run: |
          poetry build
          poetry publish -u __token__ -p ${{ secrets.PYPI_TOKEN }}
